name: DevCard

on:
  workflow_dispatch:
  push:
    branches:
      - master
  schedule:
    - cron: "0 */12 * * *"

jobs:
  devcard:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: devcard
        uses: dailydotdev/action-devcard@3.2.1
        with:
          user_id: ${{ secrets.DEVCARD_ID }}
          type: "wide"
          commit_branch: master
          commit_filename: devcard.png
          commit_message: "chore: update ${filename}"
