name: Latest Youtube Videos

on:
  schedule:
    - cron: "0 0 * * *"
  # (optional) Run workflow manually
  workflow_dispatch:

jobs:
  update-readme-with-youtube:
    name: Update this repo's README with latest Youtube videos
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "YOUTUBE"
          max_post_count: "10"
          feed_list: "https://www.youtube.com/feeds/videos.xml?channel_id=UCaymv6-qLmzXRQ-JIPQVpNw"
